{% extends 'giveaway/base.html' %}
{% load static %}
{% block title %}Prize{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/giveaway.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12"> Ad </div>
  </div>
  <div class="header">
    <h1> {{ giveaway.name }} Giveaway </h1>
  </div>
  <div class="row">
    <div class="col-sm-12 prize-listing">
      <img class="prize-picture" src="{{ giveaway.prize.image.url }}" />
      <div>
        <span>value: ${{ giveaway.prize.value }} </span>
      </div>
      <form action="/enter_giveaway/{{ giveaway.id }}/" method="post" class="email-form">
        {% csrf_token %}
        <label for="email_address"> Email address: </label>
        <input id="email_address" type="email" name="email_address">
        <input type="submit" value="Enter">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> Amazon links </div>
  </div>
</div>

{% endblock %}
